/* h1{
    outline-style:dashed ;
    color: aqua;
    width: 100px;    
} */

/* h1{
    outline-style:dotted ;
    color: aqua;
    width: 100px;    
} */

/* h1{
    outline-style:double ;
    color: aqua;
    width: 100px;    
} */

h1{
    outline-style:groove ;
    color: aqua;
    width: 100px;    
}

/* h1{
    outline-style:inset ;
    color: aqua;
    width: 100px;    
} */

/* h1{
    outline-style:outset ;
    color: aqua;
    width: 100px;    
} */

/* h1{
    outline-style:dashed ;
    color: aqua;
    width: 100px;    
} */