.box {
    position: relative;
    width: 100px;
    height: 100px;
    background: red;
    color: white;
  }

.positioned {
    position: absolute;
    background: yellow;
    top: 200px;
    left: 100px;
}




